<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>AlphaQ: DashBoard</title>
    <link href="../static/styles.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/myfavicon.ico" type="image/ico"/>
</head>
<body>
    <div class="container">
        <div class="header">
            <table class='headertable'>
                <tr>
                    <td class='headertd'><h2><a href="http://localhost:5000/index"><img src="../static/logo.jpg" width="98px" height="42px">     AlphaQ Management System</a></h2></td>
                    <td class='headertd htd2'><button class="logoutbutton"><a href='http://localhost:5000/logout'>Logout</a></button></td>
                </tr>
            </table>            
        </div>
        <p class="subheader">DashBoard</p>
        <button><a href='http://localhost:5000/moms.local' style="color: #000000;">See MoMs</a></button>
        <button><a href='http://localhost:5000/createmom' style="color: #000000;">Create MoM</a></button>
    </div>    
</body>
</html>